<body>
    
    <h1>Book detail</h1>
    
    <p>
     <span>
       <%= link_to @book.title, book_path(@book.id) %>
     </span>
    </p>
    
    <p>
     <span><%= @book.body %></span>
    </p>
    
</body>

